@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply text-black;
}

.h2{
  @apply text-5xl font-semibold
}

.lead{
  @apply text-lg font-light text-black/80;
}

/* globals.css */
html, body, * {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #13d49a transparent; /* Scrollbar thumb and track color */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #13d49a; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar edges */
  border: 3px solid transparent; /* Creates padding around the thumb */
  background-clip: content-box; /* Ensures the border is transparent */
}
/* Apply to all scrollable elements */
* {
  scrollbar-width: thin;
  scrollbar-color: #13d49a transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #13d49a;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Animation for the loading bar */
@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-move {
  animation: move 2s infinite ease-in-out;
}

/* Add a subtle bounce animation to the logo */
@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
}

/* Spinner animation for the icon */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom animation classes for the page */
.animate-bounce {
  animation: bounce 2s infinite;
}

.animate-spin {
  animation: spin 1s linear infinite;
}



/* styles.css or global.css */
.home-page-bg {
  background-image: url('../public/landing-background.png'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; 
  min-height: 100vh; 
  width: 100%;
}

@media (max-width: 600px){
  .container{
    max-width: 100%;
  }
}

/* Input container styling */
.input-container {
  position: relative;
  margin-bottom: 1.5rem;

  label {
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 4px;
    color: #6b7280; /* Text color, can be customized */
    pointer-events: none;
    transition: all 0.2s ease;
    font-size: 0.6rem; /* Adjust font size */
  }

  input {
    width: 100%;
    padding: 8px 18px;
    font-size: 0.8rem;
    outline: none;
    transition: all 0.2s ease;

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -10px; 
      left: 12px;
      font-size: 0.85rem; 
    }
  }
}
